body {
    font-family: "Mulish", sans-serif;
    --primary-color: #0b6eaa;
    --secondary-color: #e69019;
    /* background-color: #f2f2f6; */
    font-size: 16px;
    color: var(--primary-color);
}
img {
    width: 100%;
    display: block;
}
.animation-sup {
    background-image: url("../img/river-120.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    position: relative;
    background-position: 0 0;
    animation: move 20s infinite alternate;
    z-index: 6;
}
.animation-sup .img-icon-river {
    width: 160px;
    position: absolute;
    top: 10%;
    right: 0px;
    transform: translate(50%, -75%);
    animation: shock 20s forwards linear;
}
/* .container-content {
    width: 100%;
    height: 100px;
} */
@keyframes move {
    from {
        background-position: 0 0;
    }
    to {
        background-position: right 0;
    }
}
@keyframes shock {
    0% {
        top: 30%;
        right: -10%;
    }
    15% {
        top: -10%;
    }
    30% {
        top: 30%;
    }
    45% {
        top: -10%;
    }
    60% {
        top: 30%;
    }
    75% {
        top: -10%;
    }
    90% {
        top: 30%;
    }
    100% {
        top: -10%;
        right: 150%;
    }
}
@media (max-width: 991px) {
    .animation-sup {
        display: none;
    }
}
