body {
    font-family: "Mulish", sans-serif;
    --primary-color: #0b6eaa;
    --secondary-color: #e69019;
    /* background-color: #f2f2f6; */
    font-size: 16px;
    color: #000000cc;
}
.title-cart {
    margin-bottom: 40px;
}
.p-product-1 .p_left .p_thumb {
    position: relative;
    padding: 20px;
}
.ui-widget.ui-widget-content {
    border: 1px solid var(--primary-color);
    width: 100%;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: var(--primary-color);
    color: #fff;
}

/* date picker */
.box-mdp {
    margin-bottom: 20px;
}
.mdp-demo {
    margin-bottom: 28px;
}
.starEnd-picker {
    margin-bottom: 12px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #003eff;
    background: #f6f6f6;
    font-weight: normal;
    color: #000;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid --secondary-color;
    background: none;
    color: none;
}
.ui-datepicker .ui-datepicker-header {
    background-color: var(--primary-color);
    color: white;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    background-color: white;
}
select {
    width: 100%;
    padding: 10px;
}
.book-num {
    padding: 6px;
    width: 90%;
}
.day-show input {
    width: 100%;
}
