body {
    font-family: "Mulish", sans-serif;
    --primary-color: #0b6eaa;
    --secondary-color: #e69019;
    /* background-color: #f2f2f6; */
    font-size: 16px;
    color: var(--primary-color);
}
img {
    width: 100%;
}
.content_store {
    margin-bottom: 60px;
}
.content_store .container {
    color: #000000cc !important;
    padding: 0;
    margin-bottom: 40px;
}
.nav-sub-news .nav-pills {
    margin-bottom: 40px;
}
.content_store .hot-keys {
    margin-bottom: 28px !important;
}
.content_store .hot-keys a {
    padding: 12px;
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    margin-right: 20px;
    font-weight: 700;
}
.content_store .btn {
    background-color: var(--primary-color);
    padding: 4px 20px;
    margin-right: 20px;
    color: white;
    border-radius: 0;
    border: 1px solid transparent;
}
.content_store button:hover {
    background-color: var(--secondary-color);
}
.list-num-page .pagination .page-link {
    border: none;
    color: var(--primary-color);
}
.list-num-page ul li.active10 a {
    background-color: var(--primary-color);
    color: white !important;
    box-shadow: none;
}
